@font-face{
    font-family: "PattayaRegular";
    src: url("../font/PattayaRegular.ttf");
    font-style: normal;
    font-weight: normal;
}

#slider{
    position: relative;
    width: 550px;
    height: 450px;
    margin: 0 auto;

}
.img_foto{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    
    
}
.img_item{
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;

}
.click_button{
    cursor: pointer;
    position: absolute;
    font-size: 50px;
    color: #ffffff;
    top: 50%;
    z-index: 99;
}
#left_button{
    color: cadetblue;
    position: absolute;
    left: 7px;
    top: -45px;

}
#left_button:hover{
    color: black;
    transition: all ease-in-out .5s;
}
#rigth_button{
    color: cadetblue;
    position: absolute;
    right: -542px;
    top: -45px;
}
#rigth_button:hover{
    color: black;
    transition: all ease-in-out .2s;

}
#button_three{
    
    margin-left: 45%;
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 10px;

}
.button_item{
    background-color: cadetblue;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-right: 7px;
    
    
}
.new_class{
    background-color: black;
}
.scidka{
    font-family: "PattayaRegular";
    text-align: center;
    display: block;
    font-size: 30px;
    font-weight: normal;
    margin: 10px 0 15px 0;
    color: cornflowerblue;
    text-decoration: underline;
}

